.atc-loader {
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: cera pro;
  font-size: 24px;
  text-align: center;
  color: #3498db;
}

.full-page-height {
  height: 100vh;
}

.atc-brand {
  margin: 32px 0 0;
  padding: 0px;
}
.atc-brand:hover {
  cursor: pointer;
  color: var(--mud-palette-primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

atc-appbar-band {
  overflow: hidden;
}

@media (max-width: 600px) {
  .atc-appbar-band {
    background-position: 14px 0px;
  }
}
.atc-appbar-brand-text {
  letter-spacing: 0.5rem;
  font-weight: 300;
  margin-left: 12px;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 400px) {
  .atc-appbar-brand-text {
    letter-spacing: 0.25rem;
  }
}
.atc-navmenu {
  overflow: auto;
  margin-bottom: 12px;
}

.docs-nav-fader {
  display: block;
  position: sticky;
  top: 0;
  height: 40px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), var(--mud-palette-drawer-background));
  z-index: 100;
}

.docs-nav-filler {
  display: flex;
  flex-grow: 1;
}

.atc-container + .atc-container {
  margin-bottom: 128px;
}

.atc-main-content {
  padding-top: 86px;
  padding-bottom: 86px;
}

@media (min-width: 960px) {
  .atc-main-content {
    padding-top: 128px;
    padding-bottom: 64px;
    padding-left: 12px;
  }
}
.docs-list {
  list-style: inside;
}

.docs-expand-wrapper {
  color: var(--mud-palette-white);
  background-color: var(--mud-palette-black);
}
.docs-expand-wrapper .docs-default-theme .mud-expand-panel {
  color: inherit;
  background-color: inherit;
  border: none !important;
}
.docs-expand-wrapper .docs-default-theme .mud-expand-panel .mud-expand-panel-text {
  color: #988ef1;
  font-weight: 500;
  font-size: 1rem;
}

.mud-simple-table > div > table thead > tr > th {
  border: none;
}
.mud-simple-table > div > table tbody > tr > td {
  border: none !important;
}

.mud-simple-table.mud-table-bordered > div > table thead > tr > th {
  border: 1px groove var(--mud-palette-table-lines);
}
.mud-simple-table.mud-table-bordered > div > table tbody > tr > td {
  border: 1px groove var(--mud-palette-table-lines) !important;
}

.atc-simple-table-clean tr > td {
  border: none;
  margin: 0px !important;
  padding: 4px 0px !important;
  border: none !important;
}
.atc-simple-table-clean.table-no-padding > tr > td {
  padding: 0px !important;
}

.atc-simple-table-clean-bottom-line > tr > td {
  border: none;
  margin: 0px !important;
  padding: 4px 0px !important;
  border: none !important;
  border-bottom: 1px groove var(--mud-palette-table-lines) !important;
}

.atc-simple-table-clean-bottom-line > tr:last-child > td {
  border: none;
  margin: 0px !important;
  padding: 4px 0px !important;
  border: none !important;
}

#mudads {
  margin-bottom: 50px;
  min-height: 100px;
}

#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  display: flex;
  width: 100%;
  max-width: 400px;
  background-color: var(--mud-palette-surface);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: var(--mud-default-borderradius);
  z-index: 100;
  animation: mud-animation-fadein ease 0.15s;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
  border-bottom-left-radius: var(--mud-default-borderradius);
  border-top-left-radius: var(--mud-default-borderradius);
}

#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin-top: 16px;
}
.markdown a {
  color: var(--mud-palette-primary);
}
.markdown p {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown ul {
  padding-left: 2em;
}
.markdown ul li {
  list-style-type: disc;
}
.markdown pre {
  height: 100%;
  margin: 8px 0px;
  padding: 16px;
  border-radius: 6px;
  color: #ededed;
  background-color: var(--mud-palette-dark);
  direction: ltr;
  overflow: auto;
  font-size: 85%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
}
.markdown p code {
  margin: 0;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  color: #ededed;
  background-color: var(--mud-palette-dark);
  font-size: 85%;
}
.markdown table {
  border: 1px groove var(--mud-palette-table-lines) !important;
}
.markdown table tr th {
  padding: 8px;
  border: 1px groove var(--mud-palette-table-lines);
}
.markdown table tr td {
  padding: 8px;
  border: 1px groove var(--mud-palette-table-lines);
}

.atc-codeblock {
  height: 100%;
  background-color: var(--mud-palette-black);
  border-radius: var(--mud-default-borderradius);
  padding: 16px;
  overflow: auto;
}
.atc-codeblock pre {
  height: 100%;
  color: #ededed;
  padding: 0px;
  font-size: 1em;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
}
.atc-codeblock .html + .csharp {
  margin-top: 23px;
}
.atc-codeblock .html .htmlTagDelimiter {
  color: #979797;
}
.atc-codeblock .html .htmlElementName {
  color: #988ef1;
}
.atc-codeblock .html .htmlAttributeName {
  color: #27b5b5;
}
.atc-codeblock .html .htmlOperator, .atc-codeblock .html .quot {
  color: #c8c8c8;
}
.atc-codeblock .html .htmlAttributeValue {
  color: #ededed;
}
.atc-codeblock .html .htmlLink {
  color: #61afef;
  text-decoration: underline;
}
.atc-codeblock .html .enum {
  color: #b4eb8f;
  background-color: rgba(255, 255, 255, 0.15);
}
.atc-codeblock .html .enumValue, .atc-codeblock .html .sharpVariable {
  color: #ededed;
  background-color: rgba(255, 255, 255, 0.15);
}
.atc-codeblock .html .keyword {
  color: #61afef;
  background-color: rgba(255, 255, 255, 0.15);
}
.atc-codeblock .html .atSign {
  color: #000;
  background-color: #d2d295;
}
.atc-codeblock .html .comment {
  color: #57a64a;
}
.atc-codeblock .csharp .atSign {
  color: #000;
  background-color: #d2d295;
}
.atc-codeblock .csharp .keyword {
  color: #569cd6;
}
.atc-codeblock .csharp .string {
  color: #d69d85;
}
.atc-codeblock .csharp .function {
  color: #dcdcaa;
}
.atc-codeblock .csharp .class {
  color: #4ec9b0;
}
.atc-codeblock .csharp .localVar {
  color: #9cdcfe;
}
.atc-codeblock .csharp .interface {
  color: #b0d7a3;
}
.atc-codeblock .csharp .number {
  color: #b0d7a3;
}
.atc-codeblock .csharp .enum {
  color: #b4eb8f;
}
.atc-codeblock .csharp .comment {
  color: #57a64a;
}

.docs-page > .atc-container > .atc-typography-h4 {
  margin-top: 52px;
}

.docs-page-header {
  margin-bottom: 50px;
}
.docs-page-header .atc-typography-h3 {
  font-size: 40px;
  margin-bottom: 16px;
}
.docs-page-header .atc-typography-h4 {
  margin-top: 0px;
}

.docs-page-section {
  margin-bottom: 50px;
}
.docs-page-section p {
  margin-bottom: 16px;
}
.docs-page-section p:last-child {
  margin-bottom: 0px;
}
.docs-page-section ul li {
  margin-left: 16px;
  list-style-type: disc;
}

.docs-code {
  display: inline-block;
  padding: 0 5px;
  direction: ltr;
  font-size: 0.85em;
  font-weight: 900;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.4;
  border-radius: 2px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.docs-code.docs-code-primary {
  color: var(--mud-palette-primary);
  background-color: var(--mud-palette-primary-hover);
}
.docs-code.docs-code-secondary {
  color: var(--mud-palette-secondary);
  background-color: var(--mud-palette-secondary-hover);
}
.docs-code.docs-code-tertiary {
  color: var(--mud-palette-tertiary);
  background-color: var(--mud-palette-tertiary-hover);
}

.docs-frame {
  height: 100%;
  width: 100%;
  position: relative;
  height: 400px;
}
.docs-frame .docs-frame-absolute {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: auto;
  width: 100%;
  height: 100%;
}
.docs-frame .docs-frame-absolute .docs-frame-inner-wrapper {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

.docs-contents {
  display: none;
}

.docs-page-section[api-link-section] {
  margin: 0px;
}
.docs-page-section[api-link-section] .docs-section-header {
  margin: 0px;
}
.docs-page-section[api-link-section] .docs-section-header .atc-typography {
  margin: 0px;
}

.docs-page-apilinks ul li a:hover {
  text-decoration: none !important;
}
.docs-page-apilinks ul li a .docs-code {
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.docs-page-apilinks ul li a .docs-code:hover {
  text-decoration: none !important;
  /*background-color: rgba(var(--mud-palette-primary-rgb), 0.20);*/
}

.docs-section-header {
  margin-bottom: 20px;
}
.docs-section-header .atc-typography-h4 {
  font-size: 30px;
  margin: 40px 0 16px;
}

.docs-section-content {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: var(--mud-palette-surface);
  margin: auto;
  display: flex;
  outline: 0;
  position: relative;
  justify-content: center;
}
.docs-section-content .docs-section-content-inner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: 0;
  position: relative;
  justify-content: center;
}
.docs-section-content.docs-display-flex > .docs-section-content-inner {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.docs-section-content.docs-content-full-width > .docs-section-content-inner {
  width: 100%;
}
.docs-section-content.docs-section-content-darken {
  background-color: var(--mud-palette-background-grey);
}
.docs-section-content.docs-section-content-outlined {
  border: 1px solid var(--mud-palette-lines-default);
}
.docs-section-content.docs-section-content-display-grid {
  display: grid;
}
.docs-section-content.docs-section-auto-margin-content > .docs-section-content-inner > *:not(.atc-grid) {
  margin: 8px;
}
.docs-section-content.docs-section-flex-column > .docs-section-content-inner {
  flex-direction: column;
  align-items: center;
}

.docs-section-source {
  height: 100%;
}
.docs-section-source .docs-content-toolbar {
  display: flex;
  z-index: 25;
}
.docs-section-source .docs-content-toolbar > .atc-tooltip-root .atc-icon-button .atc-svg-icon {
  font-size: 1.25rem;
}
.docs-section-source .docs-source-code {
  height: 100%;
}
.docs-section-source .docs-source-code.docs-show-code {
  display: block;
}
.docs-section-source .docs-source-code.docs-hide-code {
  display: none;
}

.docs-content-api {
  padding: 0px;
  width: 100%;
}

@media (min-width: 600px) {
  .docs-content-api-cell:before {
    width: 30% !important;
    min-width: 30% !important;
  }
}
@media (max-width: 599px) {
  .docs-content-api-description {
    flex-wrap: wrap;
  }
}
.docs-content-api-description {
  overflow-wrap: anywhere;
  white-space: pre-line;
}

.docs-content-outlined {
  border: 1px solid var(--mud-palette-lines-default);
}

.docs-section-wireframe {
  height: calc(80vh - 124px);
}

.docs-section-black {
  background-color: var(--mud-palette-black);
}

.docs-iframe {
  height: 400px;
  width: 100%;
  margin: 0px !important;
}

.docs-icon-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.docs-icon-container .atc-divider {
  margin-bottom: 20px;
}

.docs-icon-panel {
  height: 120px;
  width: 90px;
  padding: 20px 10px;
  display: inline-block;
  text-align: center;
}
.docs-icon-panel .atc-typography {
  margin-top: 10px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.docs-icon-panel-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.docs-icon-panel-inner .atc-svg-icon {
  font-size: 40px;
}

.docs-icon-material-container {
  /*& .atc-input-control {
      background-color: var(--mud-palette-surface);
  }*/
}

.markdown table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}
.markdown table > th, .markdown table td, th > th, th td, td > th, td td {
  padding: 5px;
}
