<DocsPageSection>
    <SectionHeader Title="Coding Guidelines" />
    <SectionContent AutoMarginContent="false" FullWidth="true">
        <p>
            We follow the coding guidelines defined in the repository <MudLink Href="https://github.com/atc-net/atc-coding-rules">ATC-Coding-Rules</MudLink>.
        </p>
        <p>
            These ATC-Coding-Rules are  based on .editorconfig files.
            Furthermore for .NET projects/solutions we are using a range of Roslyn Analyzers.
        </p>
    </SectionContent>
</DocsPageSection>