<DocsPageSection>
    <SectionHeader Title="How it started" />
    <SectionContent AutoMarginContent="false" FullWidth="true">
        <p>
            It all started with two colleagues who worked together for a long time for different customers on different projects,
            where code was being copied around from private code bases to project code bases over and over again.
        </p>
        <p>
            One day, then one guy said to the other guy, we should put this common code into an open-source repository
            and make some Nuget packages, which we can then download and utilize instead.
            After this the process started, which involved tasks such as; Coming up with a name, selecting a platform for hosting the code, selecting licenses, defining workflows, rules etc.
        </p>
        <p>
            GitHub was selected as the code platform, MIT license for all repositories, and a simple setup with workflows for commits and package distribution was defined.
        </p>
        <p>
            After the first two colleagues started, many more good colleagues joined.
            Other developers and hopefully many new will follow.
        </p>
    </SectionContent>
</DocsPageSection>