<DocsPageSection>
    <SectionHeader Title="How to contribute" />
    <SectionContent AutoMarginContent="false" FullWidth="true">
        <p>
            To make a contribution to a repository, just follow the "fork-and-pull" Git workflow. <MudLink Href="https://gist.github.com/Chaser324/ce0505fbed06b947d962">Read more here.</MudLink>
        </p>
        <p>
            The simple steps are:
            <ul>
                <li>Fork the repo on GitHub</li>
                <li>Clone the project to your own machine</li>
                <li>Commit changes to your own branch</li>
                <li>Push your work back up to your fork</li>
                <li>Submit a pull request (PR) so atc members, can review your changes</li>
            </ul>
        </p>
        <p>
            NOTE: Be sure to merge with the latest code from "upstream" before making a pull request!
        </p>
        <p>
            More information can be found under <MudLink Href="/introduction/general-rules-and-guidelines#introduction">General Rules and Guidelines</MudLink>
        </p>
        <p>
            Currently we have the following repository workflow:
            <ul>
                <li>A PR will trigger 'pre-integration', that builds and tests the code.</li>
                <li>On a successful PR, code can be approved.</li>
                <li>Once the PR is merged into the 'main' branch, this will trigger the 'post-integration' workflow, which; Builds, tests and publishes artifacts/packages to 'GitHub Package Registry' or PyPi test package index.</li>
                <li>On a successful merge process, code can now be released to Nuget/PyPi package indexes.</li>
                <li>Releasing, is a manual workflow trigger. Once used it will; Build and publish artifacts/packages to 'Nuget Package Registry'/PyPi package indexes.</li>
            </ul>
        </p>
        <p>
            <img src="images/gitflow.png" style="height: 100%; width: 100%; object-fit: contain" alt="Git-flow" />
        </p>
    </SectionContent>
</DocsPageSection>