<DocsPageSection>
    <SectionHeader Title="Other open-source projects that ATC depends upon" />
    <SectionContent AutoMarginContent="false" FullWidth="true">
        <p>
            ATC depends upon and contribute to other open-source project that we really like &#128515;
        </p>
        <p>
            Therefore a big thanks to:
        </p>
        <AtcFavouriteOpenSourceProjects />
    </SectionContent>
</DocsPageSection>