<DocsPageSection>
    <SectionHeader Title="What is the purpose with ATC-NET" />
    <SectionContent AutoMarginContent="false" FullWidth="true">
        <p>
            The main purpose is to make a good, solid and stable toolbox with code and snippets based on many years of developer experience,
            which can be used in many projects.
        </p>
        <p>
            When we work on any projects, we can proudly say the following:
            <ul>
                <li>We share common code.</li>
                <li>We are not afraid of showing our code.</li>
                <li>When we leave, the code will stay in github and continue to be improved and documented through other projects.</li>
                <li>Projects can adopt the code themselves and everybody is free to fork the code</li>
            </ul>
        </p>
        <p>
            Today we use several programming languages as well as technologies.
            Therefore, we strive to be somewhat disciplined in the repository structure, naming and versioning scheme.
        </p>
        <p>
            Specifically around C# and .NET target framework:
            <ul>
                <li>We will try to be on the latest new LTS version from Microsoft - (Currently C# 10 / .NET 6).</li>
                <li>We try as much as we can to be cross platform independent (support Linux, MacOS and Windows).</li>
            </ul>
        </p>
    </SectionContent>
</DocsPageSection>