<DocsPageSection>
    <SectionHeader Title="What is ATC / ATC-NET" />
    <SectionContent AutoMarginContent="false" FullWidth="true">
        <p>
            Short answer; Just names.
        </p>
        <p>
            We had to come up with a name that was short and not a company name,
            as we wanted an organization which was fully open sourced and not backed financially by any company.
        </p>
        <p>
            Since our first repository was a .NET project,
            we came up with ATC for the first repository and then ATC-NET as our organization name.
        </p>
    </SectionContent>
</DocsPageSection>