<MudSimpleTable Bordered="true"
                Elevation="0">
    <thead>
        <tr>
            <th width="20%">Category</th>
            <th width="80%" colspan="3">
                <table class="atc-simple-table-clean table-no-padding">
                    <tr>
                        <td width="60%" style="border: none !important;">Project</td>
                        <td width="15%" style="border: none !important;">Repository link</td>
                        <td width="15%" style="border: none !important;">Homepage link</td>
                    </tr>
                </table>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: top;">CLI</td>
            <td colspan="3">
                <table class="atc-simple-table-clean table-no-padding">
                    <tr>
                        <td width="60%">Spectre.console</td>
                        <td width="15%"><MudLink Href="https://github.com/spectreconsole/spectre.console" Target="_blank">link</MudLink></td>
                        <td width="15%"><MudLink Href="https://spectreconsole.net/" Target="_blank">link</MudLink></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Web - Blazor</td>
            <td colspan="3">
                <table class="atc-simple-table-clean table-no-padding">
                    <tr>
                        <td width="60%">MudBlazor</td>
                        <td width="15%"><MudLink Href="https://github.com/MudBlazor/MudBlazor/" Target="_blank">link</MudLink></td>
                        <td width="15%"><MudLink Href="https://mudblazor.com/" Target="_blank">link</MudLink></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Testing</td>
            <td colspan="3">
                <table class="atc-simple-table-clean table-no-padding">
                    <tr>
                        <td width="60%">AutoFixture</td>
                        <td width="15%"><MudLink Href="https://github.com/AutoFixture/AutoFixture" Target="_blank">link</MudLink></td>
                        <td width="15%"><MudLink Href="https://autofixture.github.io/" Target="_blank">link</MudLink></td>
                    </tr>
                    <tr>
                        <td width="60%">FluentAssertions</td>
                        <td width="15%"><MudLink Href="https://github.com/fluentassertions/fluentassertions" Target="_blank">link</MudLink></td>
                        <td width="15%"><MudLink Href="https://fluentassertions.com/" Target="_blank">link</MudLink></td>
                    </tr>
                    <tr>
                        <td width="60%">NSubstitute</td>
                        <td width="15%"><MudLink Href="https://github.com/nsubstitute/NSubstitute" Target="_blank">link</MudLink></td>
                        <td width="15%"><MudLink Href="https://nsubstitute.github.io/" Target="_blank">link</MudLink></td>
                    </tr>
                    <tr>
                        <td width="60%">xUnit</td>
                        <td width="15%"><MudLink Href="https://github.com/xunit/xunit" Target="_blank">link</MudLink></td>
                        <td width="15%"><MudLink Href="https://xunit.net/" Target="_blank">link</MudLink></td>
                    </tr>
                    <tr>
                        <td width="60%">Verify</td>
                        <td width="15%"><MudLink Href="https://github.com/VerifyTests/Verify" Target="_blank">link</MudLink></td>
                        <td width="15%">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Analyzer</td>
            <td colspan="3">
                <table class="atc-simple-table-clean table-no-padding">
                    <tr>
                        <td width="60%">Meziantou.Analyzer</td>
                        <td width="15%"><MudLink Href="https://github.com/meziantou/Meziantou.Analyzer" Target="_blank">link</MudLink></td>
                        <td width="15%"><MudLink Href="https://github.com/meziantou/Meziantou.Analyzer/tree/main/docs" Target="_blank">link</MudLink></td>
                    </tr>
                    <tr>
                        <td width="60%">StyleCop.Analyzers</td>
                        <td width="15%"><MudLink Href="https://github.com/DotNetAnalyzers/StyleCopAnalyzers" Target="_blank">link</MudLink></td>
                        <td width="15%">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>