<div class="docs-page-header mb-12">
    @if (string.IsNullOrEmpty(TitleLink))
    {
        <MudText Typo="@Typo.h3">
            @Title
        </MudText>
    }
    else
    {
        <MudLink Href="@TitleLink"
                 Target="_blank"
                 Typo="Typo.h3">
            @Title
        </MudLink>
    }
    <MudText>@GetSubTitle() @Description</MudText>
</div>

@code
{
    [Parameter] public string? Title { get; set; }

    [Parameter] public string? TitleLink { get; set; }

    [Parameter] public string? SubTitle { get; set; }

    [Parameter] public RenderFragment? Description { get; set; }

    string GetTitle() => $"..:: {Title} ::..";

    string GetSubTitle()
    {
        return string.IsNullOrEmpty(SubTitle)
            ? string.Empty
            : SubTitle.TrimEnd('.') + ".";
    }

}