@inherits MarkdownRepositoryContentBase
@inject IJSRuntime JS

<div class="markdown">
    @HtmlContent
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JS.InvokeVoidAsync("renderMermaidDiagrams");
    }
}