@page "/introduction/about-atc"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="ATC"
                    SubTitle="A Touch of Class">
    </DocsPageHeader>
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="What is ATC" />
            <SectionContent AutoMarginContent="false" FullWidth="true">
                <p>
                    What are ATC and ATC-NET?
                </p>
                <p>
                    The short answer is just names.
                    We had to find a name that was short and not a was company name,
                    as we want to be open source and not financially organized.
                </p>
                <p>
                    Since our first repository was a .NET project,
                    we came up with ATC for the first repository and then ATC-NET as our organization name.
                </p>
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="How it started" />
            <SectionContent AutoMarginContent="false" FullWidth="true">
                <p>
                    It all started with two colleagues who have worked together for a long time, and where there has always been 'copy and pasted'
                    code from a private code base for different customers and projects over and over again.
                </p>
                <p>
                    And one day, then one guy said to the other guy, we should put this common code into open-source
                    and make some Nuget packages that we can just download and use instead.
                </p>
                <p>
                    Good idea said the other guy let's start up, but then we must ensure that we make the right model and that is real open-source,
                    where everyone can contribute and forks as they want. No profit and no specific ownership, but free for all.
                </p>
                <p>
                    So we selected GitHub as code platform, MIT license for all repositories, and a simple setup with workflows for commits and package distribution.
                </p>
                <p>
                    When we work for customers - we say proudly:
                    <ul>
                        <li>We share code.</li>
                        <li>We are not afraid of showing our code.</li>
                        <li>When we leave, the code will stay and still be improved, documented etc. overtime.</li>
                    </ul>
                </p>
                <p>
                    After the first two colleagues started, we are today many good colleagues and other developers and hopefully many new will follow.
                </p>
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="What is the target" />
            <SectionContent AutoMarginContent="false" FullWidth="true">
                <p>
                    The main purpose is to make a good, solid and stable toolbox with code, snippets and experience that can be used in many places.
                </p>
                <p>
                    Today we use several programming languages as well as technologies. Therefore, we strive to be somewhat disciplined in repository structure, naming and versioning.
                </p>
                <p>
                    For the language C# and .NET target framework:
                    <ul>
                        <li>We will try to be on the latest new LTS version from Microsoft - (Today is C# 10 on .NET 6).</li>
                        <li>We try as much as we can to be cross platform independent (support Linux, MacOS and Windows).</li>
                    </ul>                    
                </p>
            </SectionContent>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>