@using AtcWeb.Domain.GitHub.Models
@using AtcWeb.State

@if (StateContainer is not null &&
     Repository?.Dotnet is not  null)
{
    <MudSimpleTable Bordered="true"
                    Elevation="0">
        <thead>
            <tr>
                <th style="width: 25%">Project name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Repository.Dotnet.Projects)
            {
                <tr>
                    <td style="vertical-align: top;">
                        @project.Name
                    </td>
                    <td>
                        <table class="atc-simple-table-clean-bottom-line">
                            <tr>
                                <td style="vertical-align: top;">Compiler settings:</td>
                                <td><RepositoryDotNetProjectCompilerSettings CompilerSettings="@project.CompilerSettings" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">Analyzer settings:</td>
                                <td><RepositoryDotNetProjectAnalyzerSettings AnalyzerSettings="@project.AnalyzerSettings" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">Package reference:</td>
                                <td><RepositoryDotNetProjectPackageReferences PackageReferences="@project.PackageReferences" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}

@code {

    [Inject]
    private StateContainer? StateContainer { get; set; }

    [Parameter]
    public AtcRepository? Repository { get; set; }

}