@page "/"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageContent>
        <h1 class="mud-typography mud-typography-h1 atc-h1-gradient">
            The Component Library<br/>
            You always wanted<br/>
        </h1>
    </DocsPageContent>
</DocsPage>